body{
    margin: 0px 0px;
    display: flex;
    justify-content: center;
}
.container{

    width: 80%;
    display: flex;
    flex-flow: column;

    
}
.content{
    width: 100%;
    margin-top: 70px;
    

}
.header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: .2px solid indigo;

}
#name{
    width: 50%;
    font-family: 'Fuggles', cursive;
    font-size:50px;
    color: indigo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#name a{
    text-decoration: none;
}
#navbar{
    width: 50%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
    overflow: hidden;
    
    

}
#navbar ul{
    
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    
}
#navbar li{
    display: inline-block;
}

#navbar a{
    text-decoration: none;
}
#navbar a:hover{
    font-size: large;
    font-weight: bolder;
}
.sticky {
    position: fixed;
    top: 0;
    width: 80%;
}